.guests-section {
  background-color: black;
  box-sizing: border-box;
  min-height: 150vh;
  background-image: linear-gradient(rgba(22, 24, 21, 0.952), rgba(37, 41, 34, 0.966)), url("https://davidhak.github.io/malvaktspodden/resources/bg/bg-guests.png");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
}

.work-container {
  margin: auto;
  max-width: 60%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 100%;
  padding-top: 12%;
}

.outer-card {
  width: 300px;
  height: auto;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.card {
  max-width: 300px;
  height: 300px;
  background-color: #fff;
  border: none;
  margin: auto;
  margin-bottom: 5px;
  transition: .3s;
  filter: grayscale(100%);
  border-radius: 20px 20px 0 0;
}

.outer-card:hover .card{
  filter: grayscale(0%);
}

.card:hover {
  opacity: 1;
}

.card-episode, .card-name, .card-text {
  color: black;
  font-weight: 200;
  margin: 2px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-episode {
  color: rgba(45, 63, 45, 0.959);
  font-weight: 100;
}

.card-name {
  font-weight: 500;
  color: rgb(31, 43, 31);
}

.card-text {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (max-width: 992px){
  .guests-section {
    background-position: 50%;
  }

  .work-container {
    max-width: 90%;
  }

  .row {
    padding-top: 20%;
  }

  .outer-card {
    width: 320px;
    height: auto;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
  }

  .card {
    max-width: 320px;
  }

  .card-episode, .card-name, .card-text {
    font-size: 16px;
    margin: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-text {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1160px) {
  .row {
    justify-content: center;
  }
}

@media only screen and (min-width: 2200px){
  .card-episode, .card-name, .card-text {
    font-size: 21px;
  }
  .card-text {
    padding-bottom: 10px;
  }
}