#ep1 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/jannemoller.jpg');
  background-size: cover;
  background-position: top;
}

#ep2 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/svantehildeman.jpg');
  background-size: cover;
  background-position: top;
}

#ep3 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/laminsarr.png');
  background-size: cover;
  background-position: top;
}

#ep4 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/petermartinsson.png');
  background-size: cover;
  background-position: top;
}

#ep5 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/noelhansson.jpg');
  background-size: cover;
  background-position: center;
}

#ep6 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/moaohman.jpg');
  background-size: cover;
  background-position: center;
}

#ep7 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/matslarsson.jpg');
  background-size: cover;
  background-position: center;
}

#ep8 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/hedviglindahl.jpeg');
  background-size: cover;
  background-position:right 0% bottom 65%;
}

#ep9 {
  background-image: url('https://davidhak.github.io/malvaktspodden/resources/guests/hedvig2.jpg');
  background-size: cover;
  background-position:right 0% bottom 65%;
}