.guests-section {
  background-color: black;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(rgba(22, 24, 21, 0.952), rgba(37, 41, 34, 0.966)), url("https://davidhak.github.io/malvaktspodden/resources/bg/bg-guests.png");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
}

.work-container {
  margin: auto;
  max-width: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 100%;
  padding-top: 12%;
}

.outer-card {
  width: 280px;
  height: auto;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
}

.card {
  max-width: 280px;
  height: 220px;
  background-color: #fff;
  border: none;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 20px 20px 0 0;
}

.outer-card:hover {
  transform: scale(1.05);
}

.card-episode, .card-name, .card-text {
  color: black;
  font-weight: 200;
  margin: 2px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.card-episode {
  color: rgba(45, 63, 45, 0.959);
  font-weight: 100;
}

.card-name {
  font-weight: 500;
  color: rgb(31, 43, 31);
}

.card-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .guests-section {
    background-position: 50%;
    background-attachment: scroll;
  }
  .work-container {
    max-width: 90%;
  }
  .outer-card {
    width: 250px;
    margin: 10px;
  }
  .card {
    max-width: 320px;
    height: 200px;
  }
  .card-episode, .card-name, .card-text {
    font-size: 14px;
    margin: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-text {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 992px) and (orientation: portrait) {
  .row {
    padding-top: 20%;
  }
}

@media screen and (max-device-width: 992px) and (orientation: landscape) {
  .row {
    padding-top: 10%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1500px) {
  .row {
    padding-top: 10%;
  }
  .work-container {
    max-width: 90%;
  }
  .outer-card {
    width: 250px;
    margin: 10px;
  }
  .card {
    max-width: 320px;
    height: 200px;
  }
  .card-episode, .card-name, .card-text {
    font-size: 14px;
    margin: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1501px) {
  .row {
    justify-content: center;
  }
}

@media screen and (min-width: 2200px){
  .card-episode, .card-name, .card-text {
    font-size: 21px;
  }
  .card-text {
    padding-bottom: 10px;
  }
  .outer-card {
    width: 340px;
  }
  .card {
    max-width: 340px;
    height: 260px;
  }
}