.podcast-section {
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient(rgba(36, 39, 31, 0.404), rgba(40, 46, 36, 0.452)), url("https://davidhak.github.io/malvaktspodden/resources/bg/bg-podcast.png");
    background-attachment: fixed;
    background-size: cover;
  }
  
.podcast-div {
    max-width: 600px;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .bg-img {
    object-fit: cover;
    width: 500px;
    position: relative;
    top: 0;
    left: 53%;
    -ms-transform: translate(0, -59%);
    transform: translate(0, -59%);
    border-radius: 10px;
    filter: drop-shadow(0 0 0.6rem rgb(0, 0, 0));
  }

  .about-podcast-text {
    font-weight: 200;
    color: #fff;
    text-align: center;
  }

  .about-podcast {
    padding-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
  }

  .podcast-text { 
    font-weight: 200;
    color: #fff;
    text-align: center;
  }

  .podcast-info {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .podcast-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .podcast-text-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .podcast {
    width: 110px;
    height: 110px;
  }

  .spotify {
    width: 60px;
    height: 60px;
  }

  .podcast,
  .spotify {
    margin: 30px;
    margin-top: 40px;
    cursor: pointer;
    transition: all .4s;
  }
  
  .podcast:hover,
  .spotify:hover {
    transition: all .4s;
    transform: scale(1.1);
  }

  @media screen and (max-width: 990px) and (orientation: portrait) {
    .podcast-section {
      height: 50em;
    }
    .podcast-div {
      max-width: 300px;
      margin: auto;
      top: 45%;
      padding: 0;
      padding-top: 0;
      left: 0;
    }
    .podcast,
    .spotify {
      margin-top: 0;
    }
    .spotify {
      padding-left: 20%;
    }
  }

  
@media only screen and (max-device-width: 990px) and (orientation: landscape) {
  .podcast-section {
    height: 28em;
  }
  .podcast-div {
    margin: auto;
    left: 0;
  }
  .podcast-info {
    font-size: 14px;
    margin: 0;
  }
  .about-podcast {
    padding-bottom: 0;
    padding-top: 10px;
    font-size: 22px;
  }
  .podcast,
  .spotify {
    margin: 20px;
    margin-top: 0;
    cursor: pointer;
    transition: all .4s;
  }
  .podcast {
    width: 90px;
    height: 90px;
  }
  .spotify {
    width: 48px;
    height: 48px;
    padding-left: 10%;
  }
}

@media screen and (max-width: 990px) {
  .podcast-section {
    background-attachment: scroll;
    background-image: linear-gradient(rgba(49, 56, 44, 0.555), rgba(78, 92, 69, 0.493)), url("https://davidhak.github.io/malvaktspodden/resources/bg/bg-podcast.png");
  }
  .bg-img {
    display: none;
  }
}

@media screen and (min-width: 991px) and (max-width: 1150px){
  .podcast-div {
    left: 8%;
    max-width: 400px;
  }  
  .bg-img {
    width: 330px;
    left: 60%;
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

@media screen and (min-width: 1151px) and (max-width: 1450px){
  .podcast-div {
    left: 8%;
    top: 55%;
  }  
  .bg-img {
    width: 330px;
    left: 65%;
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

@media screen and (min-width: 1451px) and (max-width: 1670px){
  .podcast-div {
    left: 8%;
    top: 55%;
  } 
  .bg-img {
    -ms-transform: translate(0, -75%);
    transform: translate(0, -75%);
    width: 380px;
    left: 65%;
  }
}

@media screen and (min-width: 2200px){
  .podcast-div {
    left: 15%;
  }  
  .podcast-info {
    font-size: 24px;
  }
  .podcast {
    width: 170px;
    height: 170px;
  }
  .spotify {
    width: 90px;
    height: 90px;
    padding-left: 25%;
  }
  .about-podcast {
    font-size: 30px;
  }
  .bg-img {
    -ms-transform: translate(0, -90%);
    transform: translate(0, -90%);
  }
}