  .sponsor-section {
    background-color: black;
    height: 100vh;
    background-image: linear-gradient(rgba(22, 24, 21, 0.952), rgba(37, 41, 34, 0.863)), url("https://davidhak.github.io/malvaktspodden/resources/bg/bg-guests.png");
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Sponsor-header {
    color: #fff;
    font-size: 40px;
    padding-top: 8%;
  }

  .sponsor-container {
    width: min(30rem, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
    margin-top: 5%;
  }
  .sponsor-card {
    padding: 2.5rem;
    background-image: linear-gradient(to bottom left, rgb(71, 77, 67), rgb(40, 46, 35));
    border-radius: 2rem;
    gap: 1rem;
    cursor: pointer;
    grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
    font-family: system-ui, sans-serif;
    color: #444447;
    box-shadow: 
      inset -2px 2px rgba(133, 143, 127, 0.349),
      -20px 20px 40px hsl(0 0 0 / .25);
    }

    .fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    }

  .sponsor-contact-container {
    color: #fff;
    margin: 0;
    position: relative;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width:1000px;
    height: fit-content;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
  }

  .sponsor-text {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    max-width: 90%;
    font-size: 18px;
    padding-bottom: 20px;
    margin: auto;
  }

  .sponsorBtn {
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 5%;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  @media screen and (max-width: 992px) and (orientation: portrait) {
    .sponsor-contact-container {
      padding: 20px;
    }
    .Sponsor-header {
      margin-top: 20px;
    }
    .sponsor-section {
      height: 45em;
      padding: 20px;
    }
    .sponsor-container {
      padding-top: 20px;
    }
    .sponsor-text {
      font-size: 15px;
      padding-top: 15%;
    }
    .sponsor-container {
      margin-top: 12%;
   }
  }

  @media screen and (max-device-width: 992px) and (orientation: landscape) {
    .Sponsor-header {
      margin-top: 20px;
    }
    .sponsor-section {
      height: 28em;
      padding: 0;
    }
    .sponsor-contact-container {
      padding: 0;
    }
    .sponsor-text {
      font-size: 15px;
      padding-top: 10%;
    }

  }

  @media screen and (min-width: 2200px){
    .sponsor-text {
      font-size: 30px;
    }
  }
